body {
  background-color: #293251;
}
h1 {
  color: #fff;
}
h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 5em;
}
.weather-card {
  width: 20em;
  height: 25em;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 50px;
}
.weather-container {
  background-color: #293251;
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 1300px;
  border: 5px solid rgba(97, 95, 95, 0.829);
  border-radius: 10px;
}
.temp-value,
.humidity,
.img {
  color: #293251;
  font-size: 3em;
  width: 300px;
  height: 30px;
  text-align: center;
}

.temp-description {
  padding: 8px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 3em;
}
.day {
  color: #293251;
  font-size: 1.7em;
}
